@charset "UTF-8";
/**
* 採用情報 Q&A
*
*/
/* ==========================================================================
sct-qa
========================================================================== */
.q {
  border-color: #001344;
}

.q:after {
  background: #001344;
  color: #001344;
}
